Repository SanitasUVG/Sanitas, pull requests merged in 2024-10, with the labels that each got.

#241 feat: Added responsive traits to component
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_frontend/src/components/StudentDashboardTopBar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.stories.jsx
Labels: frontend

#240 feat: adding responsive psycho student view
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.stories.jsx
Labels: frontend

#239 feat: Adding responsive mobile non pathologic
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.stories.jsx
Labels: frontend

#249 feat: mobile version for surgical traumatologic
  sanitas_frontend/src/utils/measureScaling.js
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.stories.jsx
Labels: enhancement, frontend

#250 feat: mobile view alergic
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.stories.jsx
Labels: frontend

#238 feat: responsive for login and register view
  sanitas_frontend/src/views/LoginView/index.jsx
  sanitas_frontend/src/views/RegisterView/index.jsx
Labels: frontend

#242 feat: get endpoint protection
  sanitas_backend/layers/db-conn/db-conn/index.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info-integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/GetLinkedPatient/get-linked-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/index.integration.test.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/index.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/LinkAccountToPatient/link-account-to-patient.integration.test.mjs
Labels: backend

#251 feat: gynob mobile view
  sanitas_frontend/src/components/Button/Base/index.jsx
  sanitas_frontend/src/components/Button/Icon/index.jsx
  sanitas_frontend/src/components/Button/TextIcon/index.jsx
  sanitas_frontend/src/components/StudentDashboardTopBar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
Labels: frontend

#252 fix: using use windows size in psycho and non pathologic
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.jsx
Labels: frontend

#253 fix: test warmup
  flake.nix
  sanitas_backend/src/handlers/GetAllItems/get-all-items.integration.test.mjs
  sanitas_backend/src/handlers/GetAllItems/get-all-items.mjs
  sanitas_backend/src/handlers/GetAllItems/get-all-items.unit.test.mjs
  sanitas_backend/template.yaml
Labels: backend, nix

#254 fix: CheckCUI and CreatePatient
  sanitas_backend/src/handlers/CheckCui/check-cui.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/index.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/HealthCheck/health-check.mjs
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
Labels: backend

#247 feat: responsive personal view
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.stories.jsx
Labels: frontend

#255 feat: Added frontend support for answering YES
  sanitas_backend/layers/logging/logging/index.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.mjs
  sanitas_frontend/src/views/History/ObGyn/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
Labels: backend, frontend

#275 fix: toast implementation fixed
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
  sanitas_frontend/src/views/History/ObGyn/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Personal/index.test.jsx
  sanitas_frontend/src/views/History/Psichiatric/index.jsx
Labels: bug, frontend

#276 fix: fixing doctor view styles
  sanitas_frontend/src/components/Button/Base/index.jsx
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/Input/Search/search.jsx
  sanitas_frontend/src/components/PatientCard/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/ObGyn/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
Labels: frontend

#273 feat: username not found bug fix
  sanitas_frontend/src/components/RequireAuth/index.jsx
Labels: bug

#283 fix: console logs removal
  sanitas_frontend/src/components/RequireAuth/index.jsx
Labels: bug

#278 fix: fixing patient pc and mobile view
  sanitas_frontend/src/views/CreatePatientView/index.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/LinkPatientView/index.jsx
  sanitas_frontend/src/views/StudentWelcomeView/index.jsx
Labels: frontend

#256 feat: add balance tests
  flake.nix
  sanitas_backend/package.json
  sanitas_backend/perfTests/helpers.js
  sanitas_backend/perfTests/loadTesting/doctor-searching-patients.js
  sanitas_backend/perfTests/loadTesting/patient-filling-form.js
  sanitas_backend/perfTests/loadTesting/patient-reading-data.js
Labels: backend

#284 fix: register view not working on mobile
  sanitas_frontend/README.md
  sanitas_frontend/src/views/RegisterView/index.jsx
Labels: frontend, wiki

#285 feat: responsive view for link patient
  sanitas_frontend/src/views/LinkPatientView/index.jsx
Labels: frontend

#286 feat: responsive view por create patient
  sanitas_frontend/src/views/CreatePatientView/index.jsx
Labels: frontend

#258 fix: modified endpoint documentation
  database/inserts.sql
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/index.integration.test.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/index.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentFamiliarHistory/update-student-familiar-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentNonPatologicalHistory/index.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentPersonalHistory/update-student-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentPsychiatricHistory/update-student-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentSurgicalHistory/update-student-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentTraumatologicalHistory/index.integration.test.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history.integration.test.mjs
  wiki/mantenimiento/db/README.md
Labels: documentation, wiki

#289 feat: responsive view for General Data
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: frontend

#259 feat: adding appointment view
  database/inserts.sql
  database/tables.sql
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/ExportData/export-data.integration.test.mjs
  sanitas_backend/src/handlers/GetConsultationPatient/get-consultation-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetConsultationPatient/get-consultation-patient.mjs
  sanitas_backend/src/handlers/UpdateConsultationPatient/update-consultation-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateConsultationPatient/update-consultation-patient.mjs
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/components/Input/ExpandingBaseInput/index.jsx
  sanitas_frontend/src/components/Input/ExpandingBaseInput/index.stories.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/Appointments/index.jsx
  sanitas_frontend/src/views/Appointments/index.stories.jsx
  sanitas_frontend/src/views/Appointments/index.test.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
Labels: frontend

#291 fix: fixing non showing gineco when is not woman in doctor side bar
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
Labels: frontend

#293 fix: Endpoint configuration to allow modifying values
  sanitas_backend/src/handlers/UpdateStudentCollaboratorInformation/update-student-collaborator-information.mjs
  sanitas_backend/src/handlers/UpdateStudentGeneralInformation/update-student-general-information.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentGeneralInformation/update-student-general-information.mjs
  sanitas_backend/src/handlers/UpdateStudentStudentInformation/update-student-student-information.mjs
Labels: backend

#294 feat: Added deploy guide
  wiki/README.md
  wiki/mantenimiento/Deploy.md
Labels: wiki

#290 feat: Added basic export data view
  database/tables.sql
  sanitas_backend/src/handlers/ExportData/export-data.integration.test.mjs
  sanitas_backend/src/handlers/ExportData/export-data.mjs
  sanitas_backend/src/handlers/RefreshExportData/refresh-export-data.mjs
  sanitas_backend/src/handlers/UpdateConsultationPatient/update-consultation-patient.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/ExportDataView/index.jsx
  sanitas_frontend/src/views/ExportDataView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
Labels: backend, frontend

#297 feat: scrum 312 added db schemas
  database/init.sql
  database/inserts.sql
  database/tables.sql
  sanitas_backend/README.md
  sanitas_backend/layers/db-conn/db-conn/index.mjs
  sanitas_backend/src/handlers/CheckCui/check-cui.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/ExportData/export-data.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.mjs
  sanitas_backend/src/handlers/GetConsultationPatient/get-consultation-patient.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/GetLinkedPatient/get-linked-patient.mjs
  sanitas_backend/src/handlers/GetMedicalHistoryMetadata/get-medical-history-metadata.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/index.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/HealthCheck/health-check.mjs
  sanitas_backend/src/handlers/LinkAccountToPatient/link-account-to-patient.mjs
  sanitas_backend/src/handlers/RefreshExportData/refresh-export-data.mjs
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.mjs
  sanitas_backend/src/handlers/UpdateConsultationPatient/update-consultation-patient.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/index.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentCollaboratorInformation/update-student-collaborator-information.mjs
  sanitas_backend/src/handlers/UpdateStudentData/update-student-data.mjs
  sanitas_backend/src/handlers/UpdateStudentFamiliarHistory/update-student-familiar-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentGeneralInformation/update-student-general-information.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.mjs
  sanitas_backend/src/handlers/UpdateStudentNonPatologicalHistory/index.mjs
  sanitas_backend/src/handlers/UpdateStudentPersonalHistory/update-student-personal-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentPsychiatricHistory/update-student-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentStudentInformation/update-student-student-information.mjs
  sanitas_backend/src/handlers/UpdateStudentSurgicalHistory/update-student-surgical-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentTraumatologicalHistory/index.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history-patient.mjs
Labels: backend, wiki

#298 fix: removed edit button
  sanitas_frontend/src/components/StudentDashboardTopBar/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: bug, frontend

#300 fix: max length on general information view input
  database/tables.sql
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: enhancement, frontend
