Repository SanitasUVG/Sanitas, pull requests merged in 2024-07, with the labels that each got.

#133 fix: fixed being unable to change patient sex
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
Labels: bug, backend

#136 fix: bug fixed, female option fixed
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
Labels: frontend

#135 fix: scrum 201 componentes de carga en datos generales
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_frontend/src/components/Throbber/index.jsx
  sanitas_frontend/src/components/Throbber/index.stories.jsx
  sanitas_frontend/src/utils/general.js
  sanitas_frontend/src/utils/index.js
  sanitas_frontend/src/utils/promiseWrapper.js
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
Labels: frontend

#138 fix: carnet update bug on general tab
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
Labels: bug, backend

#137 fix: Added padding to error message in UpdateGeneralInformationView
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
Labels: bug, frontend

#142 fix: reordered dashboard icons
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
Labels: bug, frontend

#129 feat: gui and css to the surgical history view
  sanitas_backend/jsconfig.json
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_frontend/package.json
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/components/InformationCard/index.stories.jsx
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/main.jsx
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Surgical/index.stories.jsx
  sanitas_frontend/src/views/History/Surgical/index.test.jsx
  sanitas_frontend/yarn.lock
Labels: frontend

#143 feat: added familiar traumatological get put methods
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetFamilyHistory/get-family-history-patient.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetTraumatologicalHistory/get-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history.integration.test.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#150 feat: scrum 95 personal medical history endpoints
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetPersonalHistory/get-personal-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#149 feat: Added documentation for medical history versioning
  wiki/mantenimiento/db/README.md
Labels: documentation, backend

#151 feat: scrum 95 personal medical history endpoints
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.integration.test.mjs
  wiki/mantenimiento/db/README.md
Labels: backend

#140 feat: loading state on addpatient added
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
Labels: frontend

#146 feat: scrum 93 view traumatological update new
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/UpdateTraumatologicalHistoryView/index.jsx
  sanitas_frontend/src/views/UpdateTraumatologicalHistoryView/index.stories.jsx
  sanitas_frontend/src/views/UpdateTraumatologicalHistoryView/index.test.jsx
Labels: frontend

#152 feat: added gui to familiar history
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/components/PatientCard/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.stories.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/UpdateTraumatologicalHistoryView/index.jsx
Labels: frontend
