Repository SanitasUVG/Sanitas, pull requests merged in 2024-08, with the labels that each got.

#153 feat: adding gui to familiar history view
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.stories.jsx
  sanitas_frontend/src/views/History/Familiar/index.test.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
Labels: frontend

#148 feat: scrum 32 sso cognito backend
  sanitas_frontend/src/cognito.mjs
  sanitas_frontend/src/components/RequireAuth/index.jsx
  sanitas_frontend/src/components/RequireAuth/index.stories.jsx
  sanitas_frontend/src/constants.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/LoginView/index.jsx
  sanitas_frontend/src/views/RegisterView/index.jsx
  sanitas_frontend/src/views/RegisterView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: frontend

#159 feat: nonpatological history endpoints
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/get-nonpatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetNonPatologicalHistory/get-nonpatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/update-nonpatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/update-nonpatological-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#160 feat: added GUI to personal history
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Personal/index.stories.jsx
  sanitas_frontend/src/views/History/Personal/index.test.jsx
Labels: frontend

#154 feat: endpoint for allergic history added
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
  wiki/mantenimiento/db/README.md
Labels: backend

#155 feat: gui to non pathological history
  sanitas_frontend/src/components/Button/Base/index.jsx
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/components/Input/Radio/radio.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.stories.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
  sanitas_frontend/src/views/History/NonPathological/index.stories.jsx
  sanitas_frontend/src/views/History/NonPathological/index.test.jsx
  sanitas_frontend/src/views/History/Personal/index.stories.jsx
  sanitas_frontend/src/views/History/Surgical/index.stories.jsx
  sanitas_frontend/src/views/UpdateTraumatologicalHistoryView/index.stories.jsx
Labels: frontend

#162 feat: backend integration tests
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  flake.lock
  flake.nix
  pg_hba.conf
Labels: nix, CI/CD

#165 feat: Added authorization to forms and views
  sanitas_backend/template.yaml
  sanitas_frontend/src/router.jsx
Labels: backend, frontend

#173 fix: fixing display logic for trauma history
  sanitas_frontend/src/components/Button/Base/index.jsx
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.test.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Personal/index.test.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.stories.jsx
  sanitas_frontend/src/views/History/Traumatological/index.test.jsx
Labels: frontend

#169 feat: allergic view enpoint
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/Allergic/index.stories.jsx
  sanitas_frontend/src/views/History/Allergic/index.test.jsx
Labels: frontend

#174 feat: psy endpoint was finished
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetPsychiatricHistory/get-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
  wiki/mantenimiento/db/README.md
Labels: backend

#176 fix: datalayer functions
  sanitas_backend/template.yaml
  sanitas_frontend/src/dataLayer.mjs
Labels: backend, frontend

#175 feat: gynecoobstetric history endpoints
  database/tables.sql
  sanitas_backend/layers/utils/utils/defaultValues.mjs
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#179 fix: API Documentation
  wiki/mantenimiento/db/README.md
Labels: documentation

#177 feat: cambios en la logica cui y subtitulos
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/Input/Date/date.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
Labels: frontend

#183 fix: role detection security
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateAllergicHistory/update-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateFamilyHistory/update-family-history-patient.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/update-nonpatological-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateNonPatologicalHistory/update-nonpatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePersonalHistory/update-personal-history-patient.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePsychiatricHistory/update-psychiatric-history-patient.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdateTraumatologicalHistory/update-traumatological-history.integration.test.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
Labels: backend

#184 feat: update feature was added to allergic history
  sanitas_frontend/src/views/History/Allergic/index.jsx
Labels: frontend

#186 feat: scrum 246 view traumatological update
  sanitas_frontend/src/views/History/Traumatological/index.jsx
Labels: frontend

#189 fix: fixing update method in surgical view
  sanitas_frontend/src/views/History/Surgical/index.jsx
Labels: frontend

#194 fix: fixed cancel update
  sanitas_frontend/src/components/PatientCard/index.jsx
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
Labels: frontend

#192 fix: update feature familiar view
  sanitas_frontend/src/components/InformationCard/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
Labels: frontend

#196 feat: update and cancel personal view
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Personal/index.test.jsx
Labels: frontend

#190 feat: git init base UI was made(only base UI working PRE BETA)
  sanitas_frontend/src/views/History/Psichiatric/index.jsx
  sanitas_frontend/src/views/History/Psichiatric/index.test.jsx
Labels: frontend

#200 fix: fixing bug in dropdown
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
Labels: frontend

#193 fix: patient general data refactoring
  database/inserts.sql
  database/tables.sql
  flake.lock
  flake.nix
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info-integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentData/update-student-data.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentData/update-student-data.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_frontend/src/components/Collapsable/index.jsx
  sanitas_frontend/src/components/Collapsable/index.stories.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.stories.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.test.jsx
  wiki/mantenimiento/db/README.md
Labels: backend, frontend, nix

#197 feat: student surgery history
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdateStudentSurgicalHistory/update-student-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentSurgicalHistory/update-student-surgical-history-patient.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/assets/images/clinica.png
  sanitas_frontend/src/assets/images/uvgLogo2.png
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.test.jsx
  sanitas_frontend/src/views/LoginView/index.jsx
  sanitas_frontend/src/views/StudentWelcomeView/index.jsx
  sanitas_frontend/src/views/StudentWelcomeView/index.stories.jsx
Labels: frontend

#198 feat: add patient form patient pov
  database/tables.sql
  sanitas_backend/package-lock.json
  sanitas_backend/package.json
  sanitas_backend/src/commonTypes.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/GetLinkedPatient/get-linked-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetLinkedPatient/get-linked-patient.mjs
  sanitas_backend/src/handlers/LinkAccountToPatient/link-account-to-patient.integration.test.mjs
  sanitas_backend/src/handlers/LinkAccountToPatient/link-account-to-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/CreatePatientView/index.jsx
  sanitas_frontend/src/views/CreatePatientView/index.stories.jsx
  sanitas_frontend/src/views/LinkPatientView/index.jsx
  sanitas_frontend/src/views/LinkPatientView/index.stories.jsx
  sanitas_frontend/src/views/LoginView/index.jsx
  sanitas_frontend/src/views/StudentWelcomeView/index.jsx
Labels: backend, frontend
