Repository SanitasUVG/Sanitas, pull requests merged in 2024-06, with the labels that each got.

#77 fix: changed database wrong types in paciente tables inserts
  database/inserts.sql
Labels: database

#71 fix: Backend URL on development mode
  sanitas_frontend/src/dataLayer.mjs
Labels: frontend

#78 fix: endpoint redifined add-patient
  flake.lock
  sanitas_backend/package-lock.json
  sanitas_backend/src/handlers/CreateFicha/create-ficha.integration.test.mjs
  sanitas_backend/src/handlers/CreateFicha/create-ficha.mjs
  sanitas_backend/template.yaml
Labels: backend

#80 feat: added reusable components
  sanitas_frontend/src/components/Button/index.jsx
  sanitas_frontend/src/components/DropdownMenu/Dropdown.css
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/Input/Input.css
  sanitas_frontend/src/components/Input/index.jsx
Labels: frontend

#82 feat: endpoint para obtener informacion general paciente
  flake.nix
  sanitas_backend/template.yaml
Labels: backend, nix

#83 feat: scrum 120 endpoint para obtener informacion general paciente
  flake.nix
  sanitas_backend/package.json
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/template.yaml
Labels: backend, nix

#85 fix: separate index component in many files
  sanitas_frontend/src/components/Button/Button.css
  sanitas_frontend/src/components/Button/index.jsx
  sanitas_frontend/src/components/DropdownMenu/Dropdown.css
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/Input/Input.css
  sanitas_frontend/src/components/Input/base.jsx
  sanitas_frontend/src/components/Input/date.jsx
  sanitas_frontend/src/components/Input/index.jsx
  sanitas_frontend/src/components/Input/radio.jsx
Labels: frontend

#86 fix: scrum 87 refactorizar endpoint search patient
  sanitas_backend/src/handlers/SearchPatient/search-patient.integration.test.mjs
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_backend/template.yaml
Labels: backend

#87 feat: implemented reusable components into views
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/UpdateInfoView/index.jsx
Labels: frontend

#81 feat: Endpoint for updating a patient field
  sanitas_backend/src/handlers/UpdatePatient/update-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/template.yaml
Labels: backend

#91 fix: integration tests with helpers
  .gitignore
  conf.json
  flake.nix
  sanitas_backend/src/handlers/CreateFicha/create-ficha.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.integration.test.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
Labels: backend

#88 fix: endpoint updated
  sanitas_backend/src/handlers/CreateFicha/create-ficha.integration.test.mjs
  sanitas_backend/src/handlers/CreateFicha/create-ficha.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.integration.test.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
  yarn.lock
Labels: backend

#92 fix: implemented defensive programming to search patient view before refactor
  sanitas_frontend/package.json
  sanitas_frontend/src/components/Input/base.jsx
  sanitas_frontend/src/components/Input/date.jsx
  sanitas_frontend/src/components/Input/index.jsx
  sanitas_frontend/src/components/Input/radio.jsx
  sanitas_frontend/src/components/Input/search.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: enhancement, frontend

#97 fix: enhacement to search patient view with defensive programming
  sanitas_frontend/package.json
  sanitas_frontend/src/components/Input/base.jsx
  sanitas_frontend/src/components/Input/date.jsx
  sanitas_frontend/src/components/Input/index.jsx
  sanitas_frontend/src/components/Input/radio.jsx
  sanitas_frontend/src/components/Input/search.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: enhancement, frontend

#90 feat: add lib layer to share code
  flake.nix
  sanitas_backend/jsconfig.json
  sanitas_backend/layers/utils/package-lock.json
  sanitas_backend/layers/utils/package.json
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/layers/utils/utils/package.json
  sanitas_backend/src/handlers/CheckCui/check-cui.mjs
  sanitas_backend/src/handlers/GetGeneralPatientInfo/get-general-patient-info.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#100 fix: update patient api call
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/package.json
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/UpdateInfoView/index.jsx
  sanitas_frontend/src/views/UpdateInfoView/index.test.jsx
  sanitas_frontend/yarn.lock
Labels: backend, frontend

#105 fix: cicd speed by removing velocity
  .github/workflows/backend.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend.yml
  flake.nix
Labels: nix, CI/CD

#112 feat: endpoint para actualizar datos colaborador
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.mjs
  sanitas_backend/template.yaml
Labels: backend

#113 feat: scrum 139 implement update student data endpoint
  database/tables.sql
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentData/update-student-data.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentData/update-student-data.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#114 feat: added update get patient surgical history
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/GetSurgicalHistory/get-surgical-history-patient.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateSurgicalHistory/update-surgical-history-patient.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_backend/template.yaml
Labels: backend

#119 feat: get student info endpoint
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info-integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/template.yaml
Labels: backend

#120 refactor: update patient view
  sanitas_frontend/src/store.mjs
  sanitas_frontend/src/utils/date.js
  sanitas_frontend/src/utils/general.js
  sanitas_frontend/src/utils/promiseWrapper.js
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.stories.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.test.jsx
Labels: frontend

#122 feat: added a theme file to use in pages
  sanitas_frontend/src/theme.mjs
Labels: frontend

#123 feat: added style props to components
  sanitas_frontend/src/components/Button/Base/index.jsx
  sanitas_frontend/src/components/Button/Base/index.stories.jsx
  sanitas_frontend/src/components/Button/Icon/index.jsx
  sanitas_frontend/src/components/Button/Icon/index.stories.jsx
  sanitas_frontend/src/components/Button/index.stories.jsx
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/components/Input/Date/date.jsx
  sanitas_frontend/src/components/Input/Radio/radio.jsx
  sanitas_frontend/src/components/Input/Search/search.jsx
  sanitas_frontend/src/components/Input/Search/search.stories.jsx
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
Labels: frontend

#121 feat: added styles to add patient view
  sanitas_frontend/.storybook/preview-head.html
  sanitas_frontend/index.html
  sanitas_frontend/src/assets/images/logoSanitas.png
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.stories.jsx
Labels: frontend

#125 feat: added styles to the sidebar
  sanitas_frontend/.storybook/preview-head.html
  sanitas_frontend/src/components/Button/TextIcon/index.jsx
  sanitas_frontend/src/components/Button/TextIcon/index.stories.jsx
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/theme.mjs
Labels: frontend

#126 feat: scrum 140 UI ux update student data
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.stories.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.test.jsx
Labels: frontend

#124 feat: main CSS styling added
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_frontend/src/assets/images/BorderDecoLower.png
  sanitas_frontend/src/assets/images/BorderDecoUpper.png
  sanitas_frontend/src/components/Button/Icon/index.jsx
  sanitas_frontend/src/components/Input/Search/search.jsx
  sanitas_frontend/src/components/PatientCard/index.jsx
  sanitas_frontend/src/components/PatientCard/index.stories.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/utils/date.js
  sanitas_frontend/src/utils/useWindowSize.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: frontend

#128 feat: endpoint get for collaborator
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/template.yaml
Labels: backend

#127 feat: general update UI ux
  sanitas_backend/src/handlers/UpdatePatient/update-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdatePatient/update-patient.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.stories.jsx
Labels: backend, frontend

#130 feat: Added empty data return to studentinfo
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
Labels: frontend

#131 feat: colaborator view
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/UpdateCollaborator/update-collaborator.integration.test.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.stories.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.test.jsx
Labels: backend, frontend
