Repository SanitasUVG/Sanitas, pull requests merged in 2024-09, with the labels that each got.

#180 feat: view for obs and gyn view
  sanitas_backend/src/handlers/GetGynecoObstetricHistory/get-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateGynecoObstetricHistory/update-gynecoobstetric-history-patient.integration.test.mjs
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/DropdownMenu/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/ObGyn/index.jsx
  sanitas_frontend/src/views/History/ObGyn/index.stories.jsx
  sanitas_frontend/src/views/History/ObGyn/index.test.jsx
Labels: frontend

#203 feat: student allergic view was added
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.test.jsx
Labels: backend, frontend

#205 feat: login & register UI was fixed with error handlers and UI design
  sanitas_frontend/src/views/LoginView/index.jsx
  sanitas_frontend/src/views/RegisterView/index.jsx
Labels: frontend

#211 fix: studend allergic view was fixed
  flake.nix
  sanitas_backend/layers/db-conn/db-conn/index.mjs
  sanitas_backend/src/handlers/GetAllergicHistory/get-allergic-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentAllergicHistory/update-student-allergic-history-patient.mjs
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
Labels: bug, frontend

#212 test: samcli and project dependencies update
  flake.lock
  flake.nix
Labels: nix

#216 feat: search role navigation
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: bug, frontend

#210 fix: removed update button from studentsurgical
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
Labels: bug, frontend

#219 feat: endpoint for familiar student view
  sanitas_backend/src/handlers/UpdateStudentFamiliarHistory/update-student-familiar-history-patient.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentFamiliarHistory/update-student-familiar-history-patient.mjs
  sanitas_backend/template.yaml
Labels: backend

#213 feat: Added endpoint for checking if data is available
  sanitas_backend/src/handlers/GetMedicalHistoryMetadata/get-medical-history-metadata.integration.test.mjs
  sanitas_backend/src/handlers/GetMedicalHistoryMetadata/get-medical-history-metadata.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/components/Button/TextIcon/index.jsx
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/RequireAuth/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/store.mjs
  sanitas_frontend/src/views/History/Allergic/index.test.jsx
  sanitas_frontend/src/views/History/Familiar/index.test.jsx
  sanitas_frontend/src/views/History/NonPathological/index.test.jsx
  sanitas_frontend/src/views/History/ObGyn/index.test.jsx
  sanitas_frontend/src/views/History/Personal/index.test.jsx
  sanitas_frontend/src/views/History/Psichiatric/index.test.jsx
  sanitas_frontend/src/views/History/Surgical/index.test.jsx
  sanitas_frontend/src/views/History/Traumatological/index.test.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.test.jsx
Labels: backend, frontend

#220 feat: scrum 273 gineco student view
  .gitignore
  README.md
  flake.nix
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/package.json
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.test.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.stories.jsx
Labels: backend, frontend

#217 feat: adding top bar to students view
  sanitas_frontend/src/components/StudentDashboardTopBar/index.jsx
  sanitas_frontend/src/components/StudentDashboardTopBar/index.stories.jsx
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.test.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.test.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.test.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.test.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.test.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.stories.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.test.jsx
Labels: frontend

#223 fix: Changed default search term
  sanitas_frontend/src/store.mjs
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
Labels: frontend

#222 feat: Added email extraction
  sanitas_frontend/src/cognito.mjs
  sanitas_frontend/src/components/DashboardSidebar/index.jsx
  sanitas_frontend/src/components/DashboardSidebar/index.stories.jsx
  sanitas_frontend/src/components/RequireAuth/index.jsx
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/store.mjs
  sanitas_frontend/src/views/History/Allergic/index.stories.jsx
  sanitas_frontend/src/views/History/Familiar/index.stories.jsx
  sanitas_frontend/src/views/History/NonPathological/index.stories.jsx
  sanitas_frontend/src/views/History/ObGyn/index.stories.jsx
  sanitas_frontend/src/views/History/Personal/index.stories.jsx
  sanitas_frontend/src/views/History/Psichiatric/index.stories.jsx
  sanitas_frontend/src/views/History/Surgical/index.stories.jsx
  sanitas_frontend/src/views/History/Traumatological/index.stories.jsx
  sanitas_frontend/src/views/LoginView/index.stories.jsx
Labels: frontend

#221 fix: routing to obgyn and form index
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.test.jsx
Labels: frontend

#214 feat: student traumatological view
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdateStudentTraumatologicalHistory/update-student-traumatological-history-patient.mjs
  sanitas_backend/src/handlers/UpdateStudentTraumatologicalHistory/update-student-traumatological-history.integration.test.mjs
  sanitas_backend/template.yaml
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.test.jsx
Labels: frontend

#225 feat: adding JSDoc
  sanitas_frontend/src/components/StudentDashboardTopBar/index.jsx
Labels: frontend

#227 feat: student view added
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.stories.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.test.jsx
Labels: frontend

#218 feat: added email verification modal to Register View
  sanitas_frontend/src/views/RegisterView/index.jsx
Labels: frontend

#226 fix: update sex in patient general info
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.integration.test.mjs
  sanitas_backend/src/handlers/GetGeneralCollaboratorInfo/get-collaborator.mjs
  sanitas_backend/src/handlers/GetGeneralStudentInfo/get-general-student-info.mjs
  sanitas_backend/src/handlers/UpdateStudentGeneralInformation/update-student-general-information.integration.test.mjs
  sanitas_backend/src/handlers/UpdateStudentGeneralInformation/update-student-general-information.mjs
  sanitas_frontend/src/utils/refreshHook.js
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: backend, frontend

#224 feat: Added isValidCUI checks
  sanitas_backend/layers/utils/utils/cui.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.integration.test.mjs
  sanitas_backend/src/handlers/CreatePatient/create-patient.mjs
  sanitas_backend/src/handlers/cuiTests.unit.test.mjs
  sanitas_backend/src/handlers/testHelpers.mjs
  sanitas_frontend/src/utils/cui.js
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
  sanitas_frontend/src/views/LinkPatientView/index.jsx
Labels: backend, frontend
