Repository SanitasUVG/Sanitas, pull requests merged in 2024-11, with the labels that each got.

#301 fix: fixing non pathologic message and use memo hook in views
  sanitas_frontend/src/views/Appointments/index.jsx
  sanitas_frontend/src/views/CreatePatientView/index.jsx
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/StudentWelcomeView/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: frontend

#304 feat: comments and access
  database/tables.sql
Labels: database

#305 feat: error handlers for toasts
  sanitas_frontend/src/utils/errorhandlerstoasts.js
  sanitas_frontend/src/views/Appointments/index.jsx
  sanitas_frontend/src/views/CreatePatientView/index.jsx
  sanitas_frontend/src/views/History/Allergic/index.jsx
  sanitas_frontend/src/views/History/Familiar/index.jsx
  sanitas_frontend/src/views/History/NonPathological/index.jsx
  sanitas_frontend/src/views/History/ObGyn/index.jsx
  sanitas_frontend/src/views/History/Personal/index.jsx
  sanitas_frontend/src/views/History/Psichiatric/index.jsx
  sanitas_frontend/src/views/History/Students/StudentAllergic/index.jsx
  sanitas_frontend/src/views/History/Students/StudentFamiliar/index.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPsichiatric/index.jsx
  sanitas_frontend/src/views/History/Students/StudentSurgical/index.jsx
  sanitas_frontend/src/views/History/Students/StudentTraumatological/index.jsx
  sanitas_frontend/src/views/History/Surgical/index.jsx
  sanitas_frontend/src/views/History/Traumatological/index.jsx
  sanitas_frontend/src/views/LinkPatientView/index.jsx
Labels: frontend

#313 fix: fixing ghost appointment and other styles
  sanitas_frontend/src/components/Throbber/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/Appointments/index.jsx
  sanitas_frontend/src/views/History/Students/StudentPersonal/index.jsx
  sanitas_frontend/src/views/UpdateGeneralInformationView/index.jsx
  sanitas_frontend/src/views/UpdatePatientGeneralInformationView/index.jsx
Labels: frontend

#317 fix: suspicious error on gyneco
  sanitas_backend/layers/utils/utils/index.mjs
  sanitas_backend/src/handlers/UpdateStudentGynecoObstetricHistory/update-student-gyneco-obstetric-history.mjs
  sanitas_backend/src/handlers/UpdateStudentNonPatologicalHistory/index.mjs
  sanitas_frontend/src/components/Input/Base/base.jsx
  sanitas_frontend/src/views/History/Students/StudentNonPathological/index.jsx
  sanitas_frontend/src/views/History/Students/StudentObGyn/index.jsx
Labels: enhancement, backend, frontend
