Repository SanitasUVG/Sanitas, pull requests merged in 2024-04, with the labels that each got.

#1 feat: Added precommit hooks to nix devenv
  .gitignore
  flake.lock
  flake.nix
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: nix

#4 Feat/added pr template
  pull_request_template.md
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: CI/CD

#6 feat(CI/CD): Convetional Commits github action
  .github/workflows/main.yml
Labels: CI/CD

#5 feat: description to conventional commit tags
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#7 feat: added contribution guide
  wiki/mantenimiento/Guia_de_contribución.md
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#8 feat: added CI/CD section and contributors.
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#9 feat: user added to nix
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#11 feat: Added ER diagram and intro to it.
  wiki/mantenimiento/README.md
  wiki/mantenimiento/db/README.md
Labels: wiki

#12 feat: add postgres to devenv
  database/init.sql
  flake.nix
  wiki/mantenimiento/Guia_de_contribución.md
  wiki/mantenimiento/README.md
Labels: database, wiki, nix

#13 fix: Postgres host
  flake.nix
Labels: bug, nix

#15 fix: 4NF applied to privilegio usuario
  wiki/mantenimiento/db/README.md
Labels: wiki

#16 fix: data type correction in table privilegio-usuario
  wiki/mantenimiento/db/README.md
Labels: wiki

#10 feat: added users to db and wiki
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#18 feat: Implemented PostgreSQL tables into init.sql from ER Diagram
  database/init.sql
Labels: database

#19 fix: normalized paciente entity to 4NF
  wiki/mantenimiento/db/README.md
Labels: wiki

#20 refactor: Separated SQL files
  database/init.sql
  database/tables.sql
  flake.nix
Labels: database, nix

#22 fix: tables accidental rollback and order
  database/tables.sql
Labels: database

#21 feat: inserts added for Database, usuario-antecedente_paciente
  database/inserts.sql
  flake.nix
Labels: database, nix

#24 docs: improved methodology section
  wiki/mantenimiento/Metodologia_de_desarrollo.md
Labels: wiki

#25 feat: dprint formatter added
  dprint.json
  sanitas_frontend/.eslintrc.cjs
  sanitas_frontend/package.json
  sanitas_frontend/src/App.jsx
  sanitas_frontend/src/main.jsx
  sanitas_frontend/vite.config.js
Labels: frontend

#26 feat: linter set up done
  sanitas_frontend/package.json
  sanitas_frontend/src/App.jsx
  sanitas_frontend/yarn.lock
Labels: frontend

#28 fix: PR template
  pull_request_template.md
Labels: CI/CD

#27 fix: updated nix environment
  flake.lock
  flake.nix
  sanitas_frontend/yarn.lock
Labels: nix, CI/CD

#29 feat: implementing of testing libraries and sample tests with vitest
  sanitas_frontend/package.json
  sanitas_frontend/src/__test__/ui/Button.test.jsx
  sanitas_frontend/src/__test__/ui/UITestSetup.js
  sanitas_frontend/src/__test__/unit/add.test.jsx
  sanitas_frontend/src/components/Button.css
  sanitas_frontend/src/components/Button.jsx
  sanitas_frontend/src/utils/add.jsx
  sanitas_frontend/vite.config.js
  sanitas_frontend/yarn.lock
Labels: frontend
