Repository SanitasUVG/Sanitas, pull requests merged in 2024-05, with the labels that each got.

#30 feat: workflows added to .github for Frontend
  .github/workflows/PRs.yml
  .github/workflows/frontend.yml
Labels: CI/CD

#32 feat: Deploy frontend workflow
  .github/workflows/deploy.yml
Labels: CI/CD

#33 feat: Deploy frontend workflow (#32)
  .github/workflows/deploy.yml
Labels: frontend, CI/CD

#34 fix: permmisions were added to deploy workflow
  .github/workflows/deploy.yml
Labels: CI/CD

#35 chore: Test CD integration
  .github/workflows/deploy.yml
Labels: CI/CD

#36 fix: steps were fixed on deploy workflow
  .github/workflows/deploy.yml
Labels: CI/CD

#38 fix: vite config and deployment
  .github/workflows/deploy.yml
Labels: CI/CD

#39 feat: Added documentation, aliases and improved code structure
  sanitas_frontend/jsconfig.json
  sanitas_frontend/src/__test__/ui/Button.test.jsx
  sanitas_frontend/src/components/Button/Button.css
  sanitas_frontend/src/components/Button/index.jsx
  sanitas_frontend/src/dataLayer.js
  sanitas_frontend/src/utils/add.js
  sanitas_frontend/vite.config.js
  wiki/mantenimiento/frontend/README.md
Labels: frontend, wiki

#41 feat: confluece data was transcripted to github wiki
  wiki/Notas de Reuniones/Reunion23Abril.md
  wiki/README.md
Labels: wiki

#42 fix: redesigned the ER database diagram
  wiki/mantenimiento/db/README.md
Labels: database

#43 fix: redesign of sanitas database
  wiki/mantenimiento/db/README.md
Labels: database

#40 feat: backend project initialization
  backend/.gitignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  flake.lock
  flake.nix
  sanitas_backend/.gitignore
  sanitas_backend/.xata/migrations/.ledger
  sanitas_backend/.xata/migrations/mig_cosp4dcc4esmhu0tucqg_57a30534.json
  sanitas_backend/.xata/migrations/mig_cosp7lgfh5nptqm122t0_13fec919.json
  sanitas_backend/.xata/version/compatibility.json
  sanitas_backend/.xatarc
  sanitas_backend/README.md
  sanitas_backend/buildspec.yml
  sanitas_backend/env.json
  sanitas_backend/events/event-get-all-items.json
  sanitas_backend/events/event-get-by-id.json
  sanitas_backend/events/event-post-item.json
  sanitas_backend/jsconfig.json
  sanitas_backend/layers/db-conn/db-conn/index.mjs
  sanitas_backend/layers/db-conn/db-conn/package-lock.json
  sanitas_backend/layers/db-conn/db-conn/package.json
  sanitas_backend/layers/db-conn/db-conn/types.d.ts
  sanitas_backend/layers/db-conn/db-conn/xata.mjs
  sanitas_backend/layers/db-conn/package-lock.json
  sanitas_backend/layers/db-conn/package.json
  sanitas_backend/package-lock.json
  sanitas_backend/package.json
  sanitas_backend/samconfig.toml
  sanitas_backend/src/handlers/GetAllItems/get-all-items.integration.test.mjs
  sanitas_backend/src/handlers/GetAllItems/get-all-items.mjs
  sanitas_backend/src/handlers/GetAllItems/get-all-items.unit.test.mjs
  sanitas_backend/template.yaml
  wiki/mantenimiento/backend/README.md
Labels: documentation, backend

#46 feat: redesign of database sql code
  database/inserts.sql
  database/tables.sql
Labels: database

#50 fix: fixed error with foreign key in inserts.sql
  database/inserts.sql
Labels: database

#48 feat: added the storybook for the Sanitas frontend
  sanitas_frontend/.eslintrc.cjs
  sanitas_frontend/.gitignore
  sanitas_frontend/.storybook/main.js
  sanitas_frontend/.storybook/preview.js
  sanitas_frontend/package.json
  sanitas_frontend/src/stories/Button.jsx
  sanitas_frontend/src/stories/Button.stories.js
  sanitas_frontend/src/stories/Configure.mdx
  sanitas_frontend/src/stories/Header.jsx
  sanitas_frontend/src/stories/Header.stories.js
  sanitas_frontend/src/stories/Page.jsx
  sanitas_frontend/src/stories/Page.stories.js
  sanitas_frontend/src/stories/assets/accessibility.png
  sanitas_frontend/src/stories/assets/accessibility.svg
  sanitas_frontend/src/stories/assets/addon-library.png
  sanitas_frontend/src/stories/assets/assets.png
  sanitas_frontend/src/stories/assets/avif-test-image.avif
  sanitas_frontend/src/stories/assets/context.png
  sanitas_frontend/src/stories/assets/discord.svg
  sanitas_frontend/src/stories/assets/docs.png
  sanitas_frontend/src/stories/assets/figma-plugin.png
  sanitas_frontend/src/stories/assets/github.svg
  sanitas_frontend/src/stories/assets/share.png
  sanitas_frontend/src/stories/assets/styling.png
  sanitas_frontend/src/stories/assets/testing.png
  sanitas_frontend/src/stories/assets/theming.png
  sanitas_frontend/src/stories/assets/tutorials.svg
  sanitas_frontend/src/stories/assets/youtube.svg
  sanitas_frontend/src/stories/button.css
  sanitas_frontend/src/stories/header.css
  sanitas_frontend/src/stories/page.css
  sanitas_frontend/yarn.lock
  yarn.lock
Labels: frontend

#52 feat: gui buscar paciente
  sanitas_frontend/.eslintrc.cjs
  sanitas_frontend/UITestSetup.js
  sanitas_frontend/package.json
  sanitas_frontend/src/App.css
  sanitas_frontend/src/App.jsx
  sanitas_frontend/src/__test__/ui/Button.test.jsx
  sanitas_frontend/src/__test__/ui/UITestSetup.js
  sanitas_frontend/src/__test__/unit/add.test.jsx
  sanitas_frontend/src/components/Button/index.jsx
  sanitas_frontend/src/dataLayer.js
  sanitas_frontend/src/index.css
  sanitas_frontend/src/main.jsx
  sanitas_frontend/src/store.js
  sanitas_frontend/src/stories/Button.jsx
  sanitas_frontend/src/stories/Button.stories.js
  sanitas_frontend/src/stories/Configure.mdx
  sanitas_frontend/src/stories/Header.jsx
  sanitas_frontend/src/stories/Header.stories.js
  sanitas_frontend/src/stories/Page.jsx
  sanitas_frontend/src/stories/Page.stories.js
  sanitas_frontend/src/stories/assets/accessibility.png
  sanitas_frontend/src/stories/assets/accessibility.svg
  sanitas_frontend/src/stories/assets/addon-library.png
  sanitas_frontend/src/stories/assets/assets.png
  sanitas_frontend/src/stories/assets/avif-test-image.avif
  sanitas_frontend/src/stories/assets/context.png
  sanitas_frontend/src/stories/assets/discord.svg
  sanitas_frontend/src/stories/assets/docs.png
  sanitas_frontend/src/stories/assets/figma-plugin.png
  sanitas_frontend/src/stories/assets/github.svg
  sanitas_frontend/src/stories/assets/share.png
  sanitas_frontend/src/stories/assets/styling.png
  sanitas_frontend/src/stories/assets/testing.png
  sanitas_frontend/src/stories/assets/theming.png
  sanitas_frontend/src/stories/assets/tutorials.svg
  sanitas_frontend/src/stories/assets/youtube.svg
  sanitas_frontend/src/stories/button.css
  sanitas_frontend/src/stories/header.css
  sanitas_frontend/src/stories/page.css
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/SearchPatientView/index.stories.jsx
  sanitas_frontend/src/views/SearchPatientView/index.test.jsx
  sanitas_frontend/vite.config.js
  sanitas_frontend/yarn.lock
Labels: frontend

#53 fix: default backend user permissions
  database/init.sql
Labels: database

#54 feat: check cui endpoint was done
  sanitas_backend/package.json
  sanitas_backend/src/handlers/CheckCui/check-cui.integration.test.mjs
  sanitas_backend/src/handlers/CheckCui/check-cui.mjs
  sanitas_backend/template.yaml
Labels: backend

#55 fix: Removed phantom alias
  flake.nix
Labels: nix

#58 feat: added GUI to entry form
  sanitas_frontend/src/dataLayer.js
  sanitas_frontend/src/main.jsx
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.stories.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
  sanitas_frontend/src/views/SearchPatientView/index.jsx
  sanitas_frontend/src/views/UpdateInfoView/index.jsx
Labels: frontend

#60 feat: migrated frontend project to yarn@4.2
  flake.lock
  flake.nix
  sanitas_frontend/.gitignore
  sanitas_frontend/.yarnrc.yml
  sanitas_frontend/yarn.lock
Labels: frontend

#59 feat: Added storybook service
  flake.nix
  sanitas_frontend/package.json
Labels: frontend, nix

#57 feat: added patient search endpoint
  sanitas_backend/package-lock.json
  sanitas_backend/package.json
  sanitas_backend/src/handlers/SearchPatient/search-patient.integration.test.mjs
  sanitas_backend/src/handlers/SearchPatient/search-patient.mjs
  sanitas_backend/template.yaml
Labels: backend

#56 feat: Added linting and formatting commands
  sanitas_backend/package.json
Labels: backend

#62 feat: endpoint datos principales ficha
  database/tables.sql
  sanitas_backend/src/handlers/CreateFicha/create-ficha.integration.test.mjs
  sanitas_backend/src/handlers/CreateFicha/create-ficha.mjs
  sanitas_backend/template.yaml
Labels: backend

#64 feat: added "form" and "check cui" enpoints to add-patient GUI
  sanitas_frontend/src/dataLayer.mjs
  sanitas_frontend/src/router.jsx
  sanitas_frontend/src/views/AddPatientView/index.jsx
  sanitas_frontend/src/views/AddPatientView/index.test.jsx
Labels: backend, frontend

#61 fix: precommit js commands
  flake.nix
Labels: backend, frontend, nix

#73 fix: fixed localhost in API response
  sanitas_frontend/src/dataLayer.mjs
Labels: frontend

#76 feat: Added developing and conventions usage
  sanitas_backend/README.md
  sanitas_frontend/README.md
  wiki/mantenimiento/frontend/README.md
Labels: documentation

#72 feat: backend CD on staging
  .github/workflows/backend.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend.yml
Labels: CI/CD
